.intro {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex: 1;
}
.intro__text {
  max-width: 90%;
  margin: 2 rem auto;
  text-align: left;
  position: relative;
}
.intro__title {
  font-weight: 900;
  margin-bottom: 2rem;
  text-align: left;
  padding-bottom: 1.5rem;
}
.intro__quote {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.intro__quote-author {
  position: relative;
  font-style: italic;
  margin-bottom: 2rem;
  text-align: end;
  width: 100%;
}
.intro__description {
  color: #ccc;
  width: 100%;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1280px) {
  .intro {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 80%;
    height: auto;
    flex: 1;
  }

  .intro__text {
    max-width: 90%;
    margin: 2 rem auto;
    text-align: left;
    position: relative;
  }
  .intro__title {
    font-size: 3.375rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
    width: 70vw;
  }
  .intro__quote {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
    max-width: 85%;
    text-align: left;
  }
  .intro__quote-author {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 85%;
  }
  .intro__description {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 85%;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 1.5rem 6%;
  }
  .intro {
    width: 100%;
  }
  .intro__text {
    max-width: 100%;

    margin: 1rem;
    padding: 2rem;
    position: relative;
  }
  .intro__title {
    text-align: left;
    max-width: 1200vw;
    width: 99%;
    font-size: 2.8em;
    line-height: 49px;
    margin: 0%;
    padding: 0;
  }
  .intro__quote {
    max-width: 100%;
    text-align: left;
  }
  .intro__quote-author {
    max-width: 100%;
  }
  .intro__quote,
  .intro__quote-author {
    font-size: 1.5rem;
  }
  .intro__description {
    font-size: 1rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  .intro__text {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
  .intro__quote {
    line-height: 2.125rem;
    text-align: left;
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
  .intro__quote-author {
    max-width: 75%;
    text-align: end;
    position: relative;
    right: -2.5rem;
  }
  .intro__title {
    font-size: 2rem;
    margin: 1rem auto;
    max-width: 95%;
    line-height: 2.188rem;
  }
  .intro__quote,
  .intro__quote-author {
    font-size: 1.5rem;
  }
  .intro__description {
    font-size: 1rem;
    line-height: 1.5;
    color: #ccc;
    text-align: left;
    width: 100%;
    max-width: 90%;
    margin: 2rem auto;
  }
}
