.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  flex-wrap: nowrap;
  padding: 1rem 0;
}
.logo__icon {
  width: 32px;
  height: auto;
  display: flex;
  align-content: center;
  position: relative;
  flex-wrap: wrap;
}
.logo__icon-description {
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: 1%;
}
